.work {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: min(1150px, 100%);
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  align-items: center;
}
