.app{
  min-height:100%;
  display:flex;
  flex-direction:column;
  background:var(--color-bg);
}

.main{
  display:flex;
  flex-direction:column;
  gap:var(--space-120);
}

@media (max-width:768px){
  .main{
    gap:var(--space-88);
  }
}
